" Line buffer around cursor
set scrolloff=3
set clipboard=unnamedplus
set ideajoin

" Commentary plugin
Plug 'tpope/vim-commentary'

let mapleader=' '

nnoremap <leader>a ggVG
nmap <leader>cf <Action>(ReformatCode)
nmap <leader>cd <Action>(ShowErrorDescription)
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)
nmap <leader>ss <Action>(FileStructurePopup)
nmap <leader>bb <Action>(BuildArtifact)
nmap <leader>r <Action>(Run)
" yank path
nmap <leader>yp <Action>(CopyReference)
nnoremap H ^
nnoremap L $
vnoremap H ^
vnoremap L $
" Pasting doesn't override clipboard
vnoremap p P
vnoremap P p
nmap <Space><Space> <Action>(GotoFile)
nnoremap <leader>fc :e ~/.ideavimrc<CR>
nmap <leader>sg <Action>(SearchEverywhere)
nnoremap <leader>w :w<CR>
